*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Fichier contenant les clés API
/app/src/main/assets/api_keys.properties

# Fichier strings.xml contenant la clé Google Maps
# Notez que vous devrez créer un fichier strings.xml.template sans les clés réelles
/app/src/main/res/values/strings.xml
